:root {

  /* CORES ARTE MAKER */

  --pink: #EE306D;
  --blue: #56B1BF;
  --orange: #F7A833;

  --black: #111111;
  --white: #ffffff;

  --cream: #F7F5F1;
  --gray-light: #EEEEEE;
  --gray: #666666;


  /* BORDAS */

  --radius-small: 6px;
  --radius-medium: 12px;
  --radius-large: 18px;


  /* SOMBRAS */

  --shadow-small:
    0 8px 20px rgba(0, 0, 0, 0.07);

  --shadow-medium:
    0 16px 35px rgba(0, 0, 0, 0.10);


  /* LARGURA DO CONTEÚDO */

  --container: 1400px;
}